<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Tiny URL</th>
    <th>Actual</th>
    <th>Hits</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td class="center-item">
      <button class="copy-button" (click)="copyToClipboard(item)">Copy</button>
    </td>
    <td class="item-main"><a [href]="item.tiny_url" target="_blank">{{item.alias}}</a></td>
    <td><a [href]="item.actual" target="_blank">{{item.actual}}</a></td>
    <td>{{item.hits}}</td>
  </tr>
  <tr>
    <td colspan="4" class="center-item"><!--<input type="text" readonly [value]="selected" placeholder="">-->
      <textarea readonly>{{selected}}</textarea>

    </td>
  </tr>
  </tbody>
</table>
