<ul class="no-list work">
  <li>
    <h5>
      {{experience.position}}
    </h5>
    <span class="label label-success">{{experience.period}}</span>
    <br>
    <div>
      <strong *ngIf="experience.company">
        <a [href]="experience.companyUrl" target="_blank">{{experience.company}}</a>
      </strong>
      <div *ngIf="experience.details"><p [innerHTML]="experience.details | safe: 'html'"></p></div>
    </div>
    <div *ngIf="experience.responsibilities.length > 0">
      <ul>
        <li *ngFor="let item of experience.responsibilities">{{item}}</li>
      </ul>
      <br>
    </div>

  </li>
</ul>
