<app-page-layout>
  <!-- Projects Tab Data -->
  <div id="Projects">
    <section class="clearfix"></section>
    <div style="padding: 1% 10% 1% 10%;" class="github-widget" data-repo="tuhin47/CourseFeedbackCollector">
    </div>
    <div style="padding: 1% 10% 1% 10%;" class="github-widget" data-repo="tuhin47/StudentAcademicProfile"></div>
    <div style="padding: 1% 10% 1% 10%;" class="github-widget" data-repo="tuhin47/CSEProjectArchive"></div>
    <div style="padding: 1% 10% 1% 10%;" class="github-widget" data-repo="tuhin47/Portfolio"></div>
  </div>
  <!-- End Projects Data -->
</app-page-layout>
