<app-page-layout>
  <div>
    <section id="Projects" class="resume">
      <div class="m-2 container">
        <h3>Projects</h3>
        <div class="row">
          <div class=" col-sm-12 offset-md-1 col-md-10 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="resume-item">
              <h5>Spring Microservices</h5>
              <ul>
                <li class="row">
                  <div class="col-md-3 text-bg-light text-center"><strong>GitHub</strong></div>
                  <div class="col-9"><a href="https://github.com/tuhin47/spring-micro-47">https://github.com/tuhin47/spring-micro-47</a></div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-bg-light text-center"><strong>Swagger</strong></div>
                  <div class="col-9"><a href="https://tuhin47.github.io/spring-micro-47/">https://tuhin47.github.io/spring-micro-47</a></div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-bg-light text-center"><strong>Site</strong></div>
                  <div class="col-9"><a href="https://spring-micro-47.netlify.app/">https://spring-micro-47.netlify.app/</a></div>
                </li>
              </ul>

              <hr>
              <p>This is a microservice-based Spring Boot project aimed at providing a
                comprehensive solution for managing distributed platform</p>
              <ul>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>API Gateway :</strong></div>
                  <div class="col-9">Serves as a central entry point for accessing the microservices within the system.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Eureka :</strong></div>
                  <div class="col-9"> A service registry and discovery server that enables communication between microservices.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Config Service :</strong></div>
                  <div class="col-9"> A service to manage configuration.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Auth Service :</strong></div>
                  <div class="col-9"> Handles user authentication and authorization.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Product Service :</strong></div>
                  <div class="col-9"> Manages product-related functionalities, such as retrieval, creation, and updating.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Payment Service :</strong></div>
                  <div class="col-9"> Handles payment processing and integration with third-party payment gateways.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Order Service :</strong></div>
                  <div class="col-9"> Manages the lifecycle of customer orders.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>MySQL Database :</strong></div>
                  <div class="col-9"> The relational database used for storing persistent data.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Chat Service :</strong></div>
                  <div class="col-9"> Provides real-time messaging capabilities for users.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Angular Service :</strong></div>
                  <div class="col-9"> A front-end service built using the Angular framework.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>MongoDB :</strong></div>
                  <div class="col-9"> A NoSQL database used for storing unstructured data, such as chat messages.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Redis :</strong></div>
                  <div class="col-9"> An in-memory data store used for caching.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Zipkin :</strong></div>
                  <div class="col-9"> A distributed tracing system for monitoring and troubleshooting microservices.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Elasticsearch :</strong></div>
                  <div class="col-9"> A search engine used for indexing and searching data.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Logstash :</strong></div>
                  <div class="col-9"> A data pipeline tool used for collecting, processing, and forwarding logs and metrics.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Kibana :</strong></div>
                  <div class="col-9"> A visualization and exploration tool used for analyzing and visualizing log data.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>CircleCI :</strong></div>
                  <div class="col-9"> Continuous integration using CircleCI.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Netlify :</strong></div>
                  <div class="col-9"> Frontend Deployment in netlify.</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Postman :</strong></div>
                  <div class="col-9"> Postman Integration Testing using Newman and CircleCI</div>
                </li>
                <li class="row">
                  <div class="col-md-3 text-md-end"><strong>Swagger :</strong></div>
                  <div class="col-9"> Swagger Documentation and deployed in github.</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- End Projects Data -->
</app-page-layout>
