<app-page-layout>
  <!-- Contact Tab Data -->
  <div id="contact">
    <section class="clearfix">
      <div class="g1">
        <div class="sny-icon-box">
          <div class="sny-icon">
            <i class="icon-globe"></i>
          </div>
          <div class="sny-icon-content">
            <h4>Address</h4>
            <p>Dhaka -
              Bangladesh</p>
            <a target="_blank"
               href="https://www.google.com/maps/place/Mirpur,+Dhaka/@23.8104659,90.3272611,13z/data=!3m1!4b1!4m5!3m4!1s0x3755c0c1c61277db:0xc7d18838730e2e59!8m2!3d23.8223486!4d90.3654204">
              View map</a>
          </div>
        </div>
      </div>
      <div class="g1">
        <app-contact-item header="Telephone" icon="icon-phone" link="tel:+8801727102712" linkDetails="+8801727102712"></app-contact-item>
      </div>
      <div class="g1">
        <app-contact-item header="Email" icon="icon-user" link="mailto:tuhintowhidul9@gmail.com" linkDetails="+tuhintowhidul9@gmail.com"></app-contact-item>
      </div>
      <div class="break"></div>

    </section>
  </div>
  <!-- End Contact Data -->
</app-page-layout>
