
/* Header */
#header{
  margin-bottom: 2em;
}
#header #logo{
  text-align: center;

  display: none;
}
#header h4{
  margin-bottom:0px;
}
#header .visible{
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
}
