
<div class="main-container">
  <div class="main wrapper clearfix">
    <header id="header">
      <div id="logo">
        <h2>
          MD. Towhidul Islam
        </h2>
        <h4>
          Software Engineer
        </h4>
      </div>
    </header>

    <!-- Main Tab Container -->
    <div id="tab-container" class="tab-container">
      <!-- Tab List -->
      <ul class='etabs'>
        <li *ngFor="let tab of tabs" class='tab' >
          <a [@fadeInOut]  [routerLink]="tab.routerLink" routerLinkActive=" active "><i [ngClass]="tab.icon"></i><span>{{tab.description}}</span></a>
        </li>
      </ul>
      <!-- End Tab List -->
      <div id="tab-data-wrap" [@fadeInOut]>
        <ng-content ></ng-content>
      </div>
    </div>
    <!-- End Tab Container -->
    <footer>
      <q>
        <a target="_blank" [href]="versionLink">tuhin47@{{version}}</a>
      </q>
    </footer>
  </div>
</div>



