
/* Header */
#header{
  margin-bottom: 2em;
}
#header #logo{
  text-align: center;

  display: none;
}
#header h4{
  margin-bottom:0px;
}
#header .visible{
  opacity: 1;
}

/* Footer */
footer{
  text-align: right;
  bottom: 0;
  left: 0;
  margin: auto;
  background: transparent;
  padding: .5rem;
  color:black;
}
footer p{
  margin-bottom: 0;
}
