
<div class="main-container">
  <div class="main wrapper clearfix">
    <header id="header">
      <div id="logo">
        <h2>
          MD. Towhidul Islam
        </h2>
        <h4>
          Software Engineer
        </h4>
      </div>
    </header>

    <!-- Main Tab Container -->
    <div id="tab-container" class="tab-container">
      <!-- Tab List -->
      <ul class='etabs'>
        <li [@fadeInOut] class='tab' id="tab-about">
          <a routerLink="/about" routerLinkActive=" active "><i class="icon-user"></i><span>About</span></a>
        </li>
        <li [@fadeInOut] class='tab'>
          <a routerLink="/resume" routerLinkActive=" active "><i class="icon-file-text"></i><span>Experience</span></a>
        </li>
        <li [@fadeInOut] class='tab'>
          <a routerLink="/projects" routerLinkActive=" active "><i class="icon-heart"></i><span>Projets</span></a>
        </li>
        <li [@fadeInOut] class='tab'>
          <a routerLink="/contact" routerLinkActive=" active "><i class="icon-envelope"></i><span>Contact</span></a>
        </li>
      </ul>
      <!-- End Tab List -->
      <div id="tab-data-wrap" [@fadeInOut]>
        <ng-content ></ng-content>
      </div>
    </div>
    <!-- End Tab Container -->
    <footer>
      <q>
        tuhin47@{{version}}
      </q>
    </footer>
  </div>
</div>



