<app-page-layout>
  <div id="resume">
    <section class="clearfix">
      <div *ngIf="isCompleted" class="g2">
        <div *ngFor="let exp of listOfExperiences">
          <h3>
            {{exp.title}}
          </h3>
          <ul class="no-list work">
            <app-experience-unit *ngFor="let item of exp.data" [experience]="item"></app-experience-unit>
          </ul>
        </div>
      </div>
      <div class="g1">
        <div class="sidebar">
          <h3>
            Skills
          </h3>
          <app-skill-group *ngFor="let skillGroup of skillGroups" [skillGroup]="skillGroup"></app-skill-group>
        </div>
      </div>
    </section>
  </div>

</app-page-layout>
