<app-page-layout>
  <div id="resume">
    <section class="clearfix">
      <div class="g2">
        <h3>
          Working Experiences
        </h3>
        <ul class="no-list work">
          <li>
            <h5>
              Associate Senior Engineer
            </h5><span class="label label-info">09/2019-Current</span>
            <br>
            <h6><a href="https://www.revesoft.com/" target="_blank">REVE System</a></h6>
            <ul>
              <li>Full Stack Web Developer in BTCL automation project</li>
              <ul>
                <li>Backend- Java</li>
                <li>Frontend- VueJS</li>
              </ul>
            </ul>
            <br>

          </li>
        </ul>
        <br>
        <ul class="no-list work">
          <li>
            <h5>Software Engineer </h5>
            <span class="label label-info">09/2018-07/2019</span>
            <br>
            <h6><a href="https://research.samsung.com/srbd" target="_blank">Samsung R&D Institute Bangladesh</a>
            </h6>
            <ul>
              <li>Tizen web and native app development.</li>
              <li>Software developments for Internet Browser of Tizen Wearables.</li>

            </ul>
            <br>

          </li>
        </ul>
        <h3>
          Education
        </h3>
        <ul class="no-list work">
          <li>
            <h5>
              B.Sc.(Eng.) in Computer Science & Engineering
            </h5><span class="label label-success">2013-2018</span>
            <p>
              Shahjalal University of Science and Technology, Sylhet.

              <small>CGPA – 3.58 out of 4.00</small>
            </p>
          </li>
          <li>
            <h5>
              Higher Secondary Certificate
            </h5><span class="label label-success">2011-2012</span>
            <p>
              Dhaka City College, Dhaka Board

              <small>GPA – 5.00 out of 5.00 </small>
            </p>
          </li>
          <li>
            <h5>
              Secondary School Certificate
            </h5><span class="label label-success">2009-2010</span>
            <p>
              Ashuganj Sharkarkhana School,Comilla Board

              <small>GPA – 5.00 out of 5.00 </small>
            </p>
          </li>
        </ul>
        <h3>
          Publications
        </h3>
        <ul class="no-list work">
          <li>
            <h5>
              Continuous Bengali Speech Recognition Based On Deep Neural Network
            </h5><span class="label label-success">02/2019</span>
            <p>
              Authors: Md. Alif Al Amin, <strong>Md. Towhidul Islam</strong>, Shafkat Kibria
              and Mohammad Shahidur Rahman.Published in 2019 International
              Conference on Electrical, Computer and Communication Engineering
              (ECCE), 7-9 February, 2019

              <br>
            </p>
          </li>
        </ul>
        <h3>
          Extra-Curricular Activities
        </h3>
        <ul class="no-list work">
          <li>
            <h5>
              Publication Secretary, CSE Society
            </h5><span class="label label-success">2013-2018</span>
            <p>
              Shahjalal University of Science and Technology, Sylhet.
              <br>
            </p>
          </li>
          <li>
            <h5>
              Member in Bangladesh National Cadet Core
            </h5><span class="label label-success">2011-2012</span>
            <p>Ashuganj Sharkarkhana School</p>
          </li>
          <li>
            <h5>
              Member, Yadob Chandra Chakraborty Math Club
            </h5><span class="label label-success">2009-2010</span>
            <p>
              Ashuganj Sharkarkhana School
              <br>

            </p>
          </li>
        </ul>
      </div>
      <div class="g1">
        <div class="sidebar">
          <h3>
            Skills
          </h3>
          <h5>
            Web Development
          </h5>
          <br>
          <div class="meter emerald">
            <span style="width: 80%"><span>Java, JPA, Struts</span></span>
          </div>
          <div class="meter carrot">
            <span style="width: 70%"><span>VueJS</span></span>
          </div>
          <div class="meter wisteria">
            <span style="width: 55%"><span>jQuery/ JavaScript</span></span>
          </div>
          <div class="meter midnight">
            <span style="width: 55%"><span>Spring Boot</span></span>
          </div>
          <div class="meter sunflower">
            <span style="width: 50%"><span>HTML/ CSS</span></span>
          </div>
          <h5>
            Database
          </h5>
          <br>
          <div class="meter emerald ">
            <span style="width: 80%"><span>MySQL</span></span>
          </div>
          <div class="meter carrot">
            <span style="width: 45%"><span>MongoDB</span></span>
          </div>

          <h5>
            Tools
          </h5>
          <br>
          <div class="meter emerald">
            <span style="width: 75%"><span>Git</span></span>
          </div>
          <div class="meter carrot">
            <span style="width: 60%"><span>Postman</span></span>
          </div>
          <div class="meter wisteria">
            <span style="width: 25%"><span>Docker</span></span>
          </div>
          <h5>
            Operating System
          </h5>
          <br>
          <div class="meter pomengrate">
            <span style="width: 60%"><span>Linux</span></span>
          </div>
          <div class="meter midnight ">
            <span style="width: 60%"><span>Windows</span></span>
          </div>

          <h5>
            Problem Solving
          </h5>
          <br>
          <div class="meter pomengrate">
            <span style="width: 75%"><span>UVA (tuhin_sust,solved:208)</span></span>
          </div>
          <div class="meter carrot">
            <span style="width: 60%"><span>Hackerrank(tuhin_sust)</span></span>
          </div>
          <div class="meter midnight ">
            <span style="width: 30%"><span>Lightoj</span></span>
          </div>

          <div class="break"></div>
          <h5>
            Soft Skill
          </h5>
          <br>
          <div class="meter emerald">
            <span style="width: 80%"><span>Time Management.</span></span>
          </div>
          <div class="meter carrot">
            <span style="width: 60%"><span>Documentation</span></span>
          </div>


          <h5>
            Languages
          </h5>
          <br>
          <div class="meter emerald">
            <span style="width: 90%"><span>Bangla</span></span>
          </div>
          <div class="meter carrot">
            <span style="width: 65%"><span>English</span></span>
          </div>

        </div>
      </div>
    </section>
  </div>

</app-page-layout>
